<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1> Login Page </h1>
        <form action="/login">
            <input type="submit" value="oauth login"/>
        </form>
    </body>
</html>