<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1> Login Page </h1>
        <form action="/login">
            <input type="text" name="id" placeholder="id" />
            <input type="password" name="password" placeholder="pw" />
            <input type="hidden" name="redirect_uri" value=<%= redirect_uri %> />
            <input type="submit" />
        </form>
    </body>
</html>